.billboard {
    text-align:center;
    background-color: #9BC53D;
    color: #FFF;
    height: 89vh;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20 20px;
    position: relative;
}

.red-container{
    background-color: #C3423F;
    height:100%;
    color: #FFF;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;
}

.logo{
    top:4%;
    height: 60vh;
    width: 80vmin;
    display: block;
    background-image: url('../imgs/tacologo_transparent.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
}

.query{
    display: block;
    top: 4%;
    vertical-align: middle;
    text-align: center;
}

.taco {
    max-width: 100%;
    z-index: 10;
    height: 15vmin;
    background-image: url('../imgs/taco.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    bottom: 5vh;
    cursor: pointer;
    top:-10%;
}

.arrow {
    height: 15vmin;
}

.header {
	color:#C3423F;
	margin-top: 17vmin;
	text-align:center;
}

.instructions-title {
	color:#9BC53D;
}

.recipe-details {
	text-align:center;
}

.red-container {
    pointer-events: none;
}

.dropdown-title {
  pointer-events: all;
  max-width: 100%;
  list-style: none;
  padding: 0 30px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  font-size: 11px;
  background-color: #fdfdfd;
  border-radius: 4px;
  border: 0px solid #000;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown-content {
    list-style-type: none;
    position: absolute;
    padding: 2vmin;
    margin: 0;
    border-radius: 3px;
    text-indent: 10px;
    line-height: 32px;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    width: 100%;
}

.dropdown-content a {
    text-decoration: none;
    color: #000;
    margin-left: 1vmin;
}

.feedme{
    pointer-events: all;
    width: 100%;
    list-style: none;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-size: 11px;
    background-color: #5BC0EB;
    border-radius: 4px;
    border: 1px solid #fdfdfd;
    cursor: pointer;
    box-sizing: border-box;
}

.title {
    max-width: 100%;
    z-index: 10;
    cursor: pointer;
    padding:18px 8px;
    display: inline;
    float: left;
    left:0;
}

.upwards {
    max-width: 100%;
    z-index: 11;
    cursor: pointer;
    padding:18px 8px;
    display: inline;
    float: right;
    right:0;
}

.nav {
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
    height: 1px;
    position:fixed;
    float:left;
    width:100%;
    overflow:hidden;
    background-color: #9bc53d;
    margin-top:-13vmin;
    z-index: 9999;
    top: 9vmin;
}

.nav.show {
    height: 18vmin;
}

.nav ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width:100%;
}

.nav ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    width:50%;
}

.nav ul li img {
    display:block;
    margin:4vmin 0 0 3vmin;
    padding:2vmin 2vmin;
    text-decoration:none;
    line-height:1.3em;
}

.spacing {
    padding-top:20px;
}